@import "~element-ui/lib/theme-chalk/index.css";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
  user-select: none;
  background-color: whitesmoke;
}
.app-main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 400px;
}

.el-header {
  padding: 0;
}

.el-footer {
  padding: 0;
}

.el-aside{
  overflow: hidden;
}
